  .container{
    margin: 5vh auto;
    width: 80%;
    height: auto;
  }

  .btn-primary {
    /* width: 100%; */
    /* padding: 10px; */
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }

  .form-group span a{
    color: #007bff;
  }

  .form-group span a:hover{
    color: #004084;
  }